<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
  <div>
    <a class="text-blue-400" href="/">back to home</a>
  </div>
  <h1>Create User</h1>
  <div class="users flex gap-3 flex-wrap">
    <% if(users.length > 0) { %>
      <% users.forEach(function(user){ %>
      <div class="user max-w-50 p-4 bg-grey-900" >
          <div class=" w-full h-50  bg-violet-500 overflow-hidden">
            <img class="w-full h-full object-cover" src="<%=user.image %>" alt=""></div>
          <h3><%=user.name %></h3>
          <h5><%=user.gmail %></h5>
          <div>
            <a href="/edit/<%=user._id %>">Edit User</a>
            <a href="/delete/<%=user._id %>">Delete User</a>
          </div>
      </div>
      <% }) %>
      <% } else { %>
          <h3>No users yet</h3>
    <% } %>  
  </div>
</body>
</html>